In [46]:
import json
import pandas as pd
from collections import OrderedDict

In [90]:
#schools = [779, 802, 946, 1378, 1422, 3671, 4474, 12904, 26682, 53301]
schools = [802, 946, 1378, 1422, 4474, 12904, 53301]

In [100]:
#posts_files = ['all_posts12904.json', 'all_posts802.json']
posts_files = ['all_posts' + str(s) + '.json' for s in schools]
posts_files

['all_posts802.json',
 'all_posts946.json',
 'all_posts1378.json',
 'all_posts1422.json',
 'all_posts4474.json',
 'all_posts12904.json',
 'all_posts53301.json']

In [108]:
#schools_files = ['schoolers_final12904.json', 'schoolers_final802.json']
schools_files = ['schoolers_final' + str(s) + '.json' for s in schools]
schools_files

['schoolers_final802.json',
 'schoolers_final946.json',
 'schoolers_final1378.json',
 'schoolers_final1422.json',
 'schoolers_final4474.json',
 'schoolers_final12904.json',
 'schoolers_final53301.json']

In [109]:
birth_year = [i for i in range(1996, 2007)]
sexes = [1, 2]

In [110]:
users_table = {}
for year in birth_year:
    users_table[year] = {}
    for sex in sexes:
        users_table[year][sex] = []

In [111]:
for sf in schools_files:
    with open(sf, 'r') as f:
        text = f.read()
        one_school = json.loads(text)
        for year in birth_year:
            for sex in sexes:
                users_table[year][sex] += one_school[str(year)][str(sex)]

In [112]:
users_table_final = []
for year in birth_year:
    for sex in sexes:
        for user_id in users_table[year][sex]:
            users_table_final.append({
                'user_id': user_id,
                'sex': sex,
                'year': year
            })

In [113]:
df = pd.DataFrame(users_table_final)
df.head()

   sex    user_id  year
0    1    8581912  1996
1    1  104038820  1996
2    1   17955740  1996
3    1   28157790  1996
4    1   11651904  1996

In [114]:
len(df)

16808

In [115]:
i = 0
for year in birth_year:
    for sex in sexes:
        i += len(users_table[year][sex])
i

16808

In [116]:
all_posts = {}
for file in posts_files:
    with open(file, 'r') as f:
        text = f.read()
        one_school_posts = json.loads(text)
        for user_id in one_school_posts:
            all_posts[user_id] = one_school_posts[user_id]

In [117]:
len(all_posts)

16706

In [118]:
amount = {}
for year in birth_year:
    amount[year] = {}
    for sex in sexes:
        df_year = df[df['year']==year]
        amount[year][sex] = len(df_year[df_year['sex']==sex])

In [119]:
amount

{1996: {1: 816, 2: 873},
 1997: {1: 759, 2: 811},
 1998: {1: 877, 2: 909},
 1999: {1: 922, 2: 1038},
 2000: {1: 1151, 2: 1315},
 2001: {1: 793, 2: 775},
 2002: {1: 676, 2: 564},
 2003: {1: 687, 2: 579},
 2004: {1: 788, 2: 743},
 2005: {1: 719, 2: 618},
 2006: {1: 179, 2: 216}}

In [59]:
all_posts['539351306'][0]

{'text': '', 'date': 1590061452, 'attachments': ['photo']}

In [18]:
from datetime import datetime

timestamp = all_posts['539351306'][-1]['date']
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2019-04-05 18:30:27
type(dt_object) = <class 'datetime.datetime'>

In [63]:
from datetime import datetime

2019

In [120]:
all_posts_arr = []
for user_id in all_posts:
    if all_posts[user_id] == None:
        continue
    for post in all_posts[user_id]:
        post_year = datetime.fromtimestamp(post['date']).year
        author_age = post_year - df[df['user_id']==int(user_id)]['year'].values[0]
        all_posts_arr.append(OrderedDict({
            'user_id': user_id,
            'date': datetime.fromtimestamp(post['date']).date(),
            'author_age': author_age,
            'sex': df[df['user_id']==int(user_id)]['sex'].values[0],
            'text': post['text'],
            'attachments': post['attachments']
        }))

In [121]:
all_posts_df = pd.DataFrame(all_posts_arr)
all_posts_df.head()

,user_id,date,author_age,sex,text,attachments
0,548265990,2020-04-22,19,1,22.04.20,"[photo, audio]"
1,548265990,2020-03-26,19,1,ü•û,"[photo, audio]"
2,548265990,2020-03-19,19,1,üÉè,"[photo, audio]"
3,548265990,2020-02-17,19,1,GOOD MORNING TOKYOüß°,"[photo, photo, audio]"
4,548265990,2020-01-18,19,1,–°–∞–º–æ–π–ª–æ–≤–∞ –í–∏–∫–∞ –≥–æ–¥ –Ω–∞–∑–∞–¥,[audio]

In [122]:
len(all_posts_df[all_posts_df['text']!=''])

147690

In [123]:
len(all_posts_df)

446344

In [124]:
len(all_posts_df[all_posts_df['author_age']<=18])

300358

In [125]:
ages = [i for i in range(12, 19)]
ages

[12, 13, 14, 15, 16, 17, 18]

In [126]:
text_len_av = {}
for age in ages:
    text_len = 0
    df_age = all_posts_df[all_posts_df['author_age']==age]
    for text in df_age['text']:
        text_len += len(text)
    text_len_av[age] = text_len/len(df_age)

In [127]:
text_len_av

{12: 26.35746031746032,
 13: 29.657044854881267,
 14: 30.673691803790064,
 15: 30.835909154339937,
 16: 33.40142276422764,
 17: 41.196138344737086,
 18: 43.23188378167121}

In [ ]:
#!pip install emoji

In [77]:
from emoji import UNICODE_EMOJI

def text_has_emoji(text):
    for character in text:
        if character in UNICODE_EMOJI:
            return True
    return False

In [128]:
emoj_av = {}
for age in ages:
    emoj_av[age] = {}
    df_age = all_posts_df[all_posts_df['author_age']==age]
    for sex in sexes:
        emoj_am = 0
        df_age_sex = df_age[df_age['sex']==sex]
        for text in df_age['text']:
            if text_has_emoji(text):
                emoj_am += 1
        emoj_av[age][sex] = emoj_am/len(df_age_sex)

In [129]:
emoj_av

{12: {1: 0.0664612676056338, 2: 0.09066346442509757},
 13: {1: 0.09980689094420164, 2: 0.10778180221710021},
 14: {1: 0.11354293967336962, 2: 0.1262299806496768},
 15: {1: 0.13784825534216932, 2: 0.14690833093110406},
 16: {1: 0.13657523454844947, 2: 0.14033409375229966},
 17: {1: 0.14960513691047309, 2: 0.15445574732350364},
 18: {1: 0.16867200596014156, 2: 0.1768197438300531}}

In [80]:
from nltk import word_tokenize

In [130]:
voc_av = {}
for age in ages:
    voc_av[age] = {}
    df_age = all_posts_df[all_posts_df['author_age']==age]
    for sex in sexes:
        voc_set = set()
        df_age_sex = df_age[df_age['sex']==sex]
        for text in df_age['text']:
            text_tokens = word_tokenize(text)
            voc_set.update(text_tokens)
        voc_av[age][sex] = len(voc_set)/len(df_age_sex)

In [131]:
voc_av

{12: {1: 2.3382482394366195, 2: 3.1897328129690785},
 13: {1: 2.6203882508385, 2: 2.829766216661179},
 14: {1: 1.9712994852423804, 2: 2.1915681995965253},
 15: {1: 2.0644103327021908, 2: 2.2000936869414818},
 16: {1: 2.3902098402922007, 2: 2.4559938185296932},
 17: {1: 2.8507638940143183, 2: 2.9431935078294664},
 18: {1: 2.917675544794189, 2: 3.0586144954701657}}

In [132]:
all_posts_df.to_csv('all_posts_df2602.csv')